<div class="modal fade" id="book_modal" tabindex="-1" role="dialog" aria-labelledby="<%= modal_name %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-header modal-header-positionning">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= image_tag "blue_logo.png", class: "modal-logo" %>
        <h4 class="modal-title book_modal_title" id="myModalLabel">You are almost there</h4>
      </div>
      <div class="modal-body">
        <%# FLIGHT INFO HERE %>
        <h2 style= "font-weight: lighter; color: #264E86" class = "modal_padding">Thank you for using Planisfer</h2>
        <p style="color: rgba(0,0,0,0.7); font-weight: lighter;" class = "modal_padding modal_font">Awesome, isn't it? </p> <p class = "modal_padding modal_font" style="color: rgba(0,0,0,0.7); font-weight: lighter;">
         You can now <strong> book </strong> your flights with <strong> Expedia </strong>
         <p style="color: rgba(0,0,0,0.7); font-weight: lighter;" class = "modal_font modal_padding">Have a good trip and we hope to see you again soon!</p>
        <div class="text-center" style="padding: 10px;">
        <%= link_to "Take me to Expedia website", "https://www.expedia.com", class: "btn btn-primary modal_padding", style: "margin-top: 0", target: "_blank" %>
        </div>
      </div>
    </div>
  </div>
</div>
