<h1>You are about to onboard for a wonderful trip to <%= @trip.region.name %>. You are almost there !</h1>
<div class = "container">
  <div class = "row">
    <div class = "col-md-4">

    </div>

    <div class = "col-md-8">

    </div>

  </div>
</div>

