/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i%7CSignika+Negative:300,400,600,700");
$base-font: "Montserrat", sans-serif;
$header-font: 'Signika Negative', sans-serif;


// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;
$headings-color: #404040;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #00CECB;
$secondary-color: #1b375e;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #F77700;
$green: #32B796;
$gray: #000000;

$my-ivory: #F4F4F4;
$my-dark-grey: #3C3C3C;
$my-green: #40e6a3;
$my-dark-blue: #264E86;
$my-blue: #0F81C7;
$my-light-blue: #A2D5F2;
$my-petrol-blue: #1891AC;
$my-pale-blue: #b9f5f7;


