/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


.btn {
  border-radius: 10px;
}

.border-radius {
  border-radius: 10px;
}

.title-index-padding {
  padding-bottom: 30px;
}

#slider-range {
  width: 400px;
  height: 20px;
  background-color: blue;
  margin-left: 100px;

}

.travelers-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 20px 0;
  .btn-circle {
    margin: 0 5px;
  }
  input[type='radio'] {
    display: none;
  }
}
