/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


.btn {
  border-radius: 10px;
}

.border-radius {
  border-radius: 10px;
}

.title-index-padding {
  padding-bottom: 30px;
}

#slider-range {
  width: 400px;
  height: 20px;
  background-color: blue;
  margin-left: 100px;

}

.travelers-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 20px 0;
  .btn-circle {
    margin: 0 5px;
  }
  input[type='radio'] {
    display: none;
  }
}

.red-message {
  color: red;
}

.background-work {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
  background: url('../images/background.jpg')
}

.padding-off {
  padding-right: 0;
}

.select2-selection select2-selection--single {
  width: 299px;
  margin-bottom: 10px;
  height: 30px;
}


// Background-image

// style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),  %>');"

// Large, medium and small devices
@media (min-width: 750px) {

.background-work {
        background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background.jpg');
    }

}

// Portrait phones and smaller
@media (max-width: 749px) {

          .background-work {
        background-image: none;
    }

}


@media (min-width: 992px) {
  .col-md-9 {
      width: 70%;
  }
}

