.modal_padding{
  margin-bottom: 60px;
}

.modal_font{
  font-size: 22px;
}


.modal-header-positionning{
  height: 100px;
}


.modal-logo{
  position: absolute;
  left: 10px;
  top: 10px;
}

.book_modal_title{
  font-size: 26px;
  margin-top: 25px;
}

.bottom_modal{
  margin-top: 30px;
}
