#wrapper {
  max-width: 100%;
}


.big-wrapper {

}

#good-style {
  color: $brand-color;
}

.card-show {
  border: 1px solid $brand-color;
  border-radius: 5px;
  margin-top: 20px;
  padding-top: 10px;
}

.filters-title {
  border-right: 1px solid $brand-color;
}
