<a href="#trendy-destination" id = 'trendy-destination'>
  <span><h4 class = "white"><strong>Start exploring members' favourite destinations</strong></h4></span>
  <span><%= image_tag "arrow.png", class: "floating small-arrow" %></span>
</a>
