<div class = "home-text">
  <h2 class="home-main-title white"><strong>For travelers who share a passion for exploring the world</strong></h2>
</div>
<div class = "" id = "advantages">
  <h4 class ="white">Unique technologies to book complex itineraries, at the best price, including multi-destination flights</h4>
  <h4 class ="white">Members share tips on their favourite countries</h4>
  <h4 class ="white">Travel coaches can help you plan the details of your trip</h4>
</div>
