<div class = "home-text">
  <h2 class="home-main-title white"><strong>Build and book fully personalized trips</strong></h2>
</div>
<div class = "" id = "advantages">
  <h4 class ="white">Build your traveler profile and discover where to go next</h4>
  <span id = "transport-line">
    <h4 class ="white">Book your transports to explore the country:</h4>
    <h5 class ="white">- Return or multi destination flights</h5>
    <h5 class ="white">- Rent a car to explore the country</h5>
  </span>
  <h4 class ="white">Personalize your trip with the tips of other Planisfer members</h4>
</div>
