<span class = "booking-status-item">
  <span class="how-to-badge booking-status-badge">1</span>
  <p>Select a destination</p>
</span>
<span class = "booking-status-item underline">
  <span class="how-to-badge booking-status-badge">2</span>
  <p>Book your flights</p>
</span>
<span class = "booking-status-item opacity">
  <span class="how-to-badge booking-status-badge">3</span>
  <p>Book a car</p>
</span>
<span class = "booking-status-item opacity">
  <span class="how-to-badge booking-status-badge">4</span>
  <p>Plan the details</p>
</span>
