<div class="container-fluid text-center">

  <div class = "row margin-bottom-sixty">
    <% Region.all.each_with_index do |region, index| %>
      <div class = "col-md-6">
        <a data-toggle="modal" data-target="#modal_<%= index +1 %>">
          <div class = "slider-img-container">
            <h5> <%= region.name %> </h5>
            <div style='background-image: linear-gradient(rgba(0,101,168,0.1), rgba(0,36,61,0.1)), url(<%= image_path("countryphoto/#{region.name.downcase.gsub(/\ /, '')}.jpg") %>)'; class = "img-slider reduced-photo-height">
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>

</div>
