<div class="home-banner-title">
  <div class = "col-md-12 title-col">
    <span> <%= link_to root_path do %>
      <%= image_tag "blue_logo_no_word.png", class: "logo"%>
    <% end %> </span>
    <span class ="brand-name">Planisfer</span>
    <span class = "banner2-title">Explore the world your own way</span>
  </div>
</div>
