
<div class = "row">
  <a href="<%= @step1_link %>" class = "no-decoration">
    <div class = "col-xs-6 col-md-3 text-center">
      <p class="how-to-badge">1</p>
      <% if @step1_title.nil? %>
        <p><strong>Build your traveler profile</strong></p>
       <% else %>
        <p><strong><%= @step1_title %></strong></p>
        <p id = 'status-subtitle'><%= @step1_subtitle %></p>
      <% end %>
    </div>
  </a>
  <div class = "col-xs-6 col-md-3 text-center">
    <p class="how-to-badge">2</p>
    <p><strong>Book your flights (return or multi-destination)</strong></p>
  </div>
  <div class = "col-xs-6 col-md-3 text-center">
    <p class="how-to-badge">3</p>
    <p><strong>Book your car</strong></p>
  </div>
  <div class = "col-xs-6 col-md-3 text-center">
    <p class="how-to-badge">4</p>
    <p><strong>Personalize your trip with the tips of other travelers</strong></p>
  </div>
</div>


