<div class = 'row'>
  <div class = 'col-xs-12 text-center'>
    <h2 id = "profile-page-build">
    Personalized recommendations
    </h2>
  </div>
</div>


<div class = 'row'>
  <div class = 'col-xs-12'>
    <div class = "reco-box text-center">
      <p> Once you have completed your traveler's profile, recommendations will appear in this section</p>
    </div>
  </div>
</div>
