<div class = 'row'>
  <div class = 'col-xs-12 text-center'>
    <h2 id = "profile-page-build">
    Where should you travel next?
    </h2>
  </div>
</div>


<div class = 'row'>
  <div class = 'col-xs-6'>
    <p>We don't know you yet. :)</p>
    <p>Tell us about at least one trip you liked to get personalized recommendations</p>
  </div>
</div>
