<div class = "col-md-8 col-md-pull-4">
  <div class = "home-text text-desktop new-session-text">
    <h2 class="home-main-title"><strong>Log in and start exploring the world</strong></h2>
  </div>

  <div class = "row text-desktop">

    <div class = "col-xs-10 col-xs-offset-1">
      <div class = "how-icons" id="how">
        <%= render 'shared/how_it_works' %>
      </div>
    </div>
  </div>

  <div class = "row">
    <div class="col-md-12">
      <%= render 'shared/destinations' %>
    </div> <!-- fin du 2e col-xs-12 principal -->
  </div>

  <div class = "row text-mobile">

    <div class = "col-xs-10 col-xs-offset-1">
      <div class = "how-icons" id="how">
        <h4 class = "row text-center">
          How it works
        </h4>
        <%= render 'shared/how_it_works' %>
      </div>
    </div>
  </div>

</div>
