<div class="col-xs-12">
<!--     <div class="banner-content text-center">
      <h1 class="banner2-title" id="why"><strong>Why use Planisfer </strong></h1>
    </div> -->
    <div class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="text-footer">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Who are we ?
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- fin du 3e col-xs-12 -->
