<!-- The Team Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog who-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel"> What is Planisfer ? </h4>
      </div>
      <div class="modal-body">
        <p class="text-center">
          Planisfer offers a new way to explore the world.
          We are a team of dreamers. We hate statu quo and are always willing to explore new opportunities ... and new territories :)
        </p>
        <p class="text-center">
          Planisfer started from a personal experience. We have always found that preparing trips was too complex, be it 2 weeks in Spain or 3 in Thailand.
          You need to understand where to land and to take off. Which itinerary to follow. How can you be sure not to miss the most important points of interests? etc
        </p>
        <p class="text-center">
          Technology is everywhere. Plus, millions of people already visited the country you want to go to. But organizing your trip still is a nightmare.
        </p>
        <p class="text-center">
          With Planisfer our mission is to help you explore the world your own way, because we believe each trip should be different.
        </p>
        <p class="text-center">
          To do so, we spend all our energies combining the 2 sources of inspiration that are critical to help you prepare your trip: Best in class and innovative technologies, together with tips from our community to help you plan the trip of your life.
        </p>
        <p class="text-center">
          Welcome to Planisfer!
        </p>
      </div>
    </div>
  </div>
</div>
