<div class="modal fade" id="wait_modal" tabindex="-1" role="dialog" aria-labelledby="wait_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">We are working hard ...</h4>
      </div>
      <div class="modal-body background">

        <h2 style= "font-weight: lighter; color: #264E86" class = "modal_padding">...preparing your trip</h2>
        <p style="color: rgba(0,0,0,0.7);">
        In a few seconds, you will discover the best flights for your search
        </p>
        <p style="color: rgba(0,0,0,0.7); font-weight: lighter;">
        At Planisfer, we think that preparing a road trip should be <strong> as easy as ABC </strong>.
        </p>

        <p class = "modal_padding" style="color: rgba(0,0,0,0.7); font-weight: lighter;"></p>

          <!--<h3>&nbsp;</h3>-->
        <svg version="1.1" baseProfile="tiny" id="Layer_1_copy"
           xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="28px"
           viewBox="0 0 28 28" overflow="auto" xml:space="preserve" class="loader">
        <g id="dot-trail">
          <g id="trail">
          <path opacity="0.1" fill="#EA3B54" d="M12,4.8c-0.1,0-0.2-0.1-0.3-0.2c0-0.1,0.1-0.3,0.2-0.3c0.6-0.1,1.2-0.2,1.8-0.2l0,0
            c0.2,0,0.3,0.1,0.3,0.3s-0.1,0.3-0.3,0.3C13.2,4.7,12.6,4.7,12,4.8L12,4.8z"/>
          <path opacity="0.95" fill="#EA3B54" d="M17.1,23.8c-0.1,0-0.2-0.1-0.3-0.2c-0.1-0.1,0-0.3,0.2-0.4c0.5-0.2,1-0.4,1.5-0.7
            c0.1-0.1,0.3,0,0.4,0.1s0,0.3-0.1,0.4C18.3,23.3,17.8,23.6,17.1,23.8C17.2,23.8,17.2,23.8,17.1,23.8z"/>
          <path opacity="0.9" fill="#EA3B54" d="M20.1,22.1c-0.1,0-0.2,0-0.2-0.1c-0.1-0.1-0.1-0.3,0-0.4c0.4-0.4,0.8-0.8,1.2-1.2
            c0.1-0.1,0.3-0.1,0.4,0s0.1,0.3,0,0.4c-0.4,0.5-0.8,0.9-1.2,1.2C20.2,22.1,20.2,22.1,20.1,22.1z"/>
          <path fill="#EA3B54" d="M13.8,24.4c-0.2,0-0.3-0.1-0.3-0.3s0.1-0.3,0.3-0.3c0.6,0,1.1,0,1.7-0.1c0.1,0,0.3,0.1,0.3,0.2
            s-0.1,0.3-0.2,0.3C14.9,24.4,14.4,24.4,13.8,24.4L13.8,24.4z M12.1,24.3C12,24.3,12,24.3,12.1,24.3c-0.6-0.1-1.2-0.3-1.8-0.5
            c-0.1-0.1-0.2-0.2-0.2-0.4c0.1-0.1,0.2-0.2,0.4-0.2c0.5,0.2,1.1,0.3,1.6,0.4c0.1,0,0.2,0.2,0.2,0.3C12.3,24.2,12.2,24.3,12.1,24.3z
             M8.8,23.1H8.7c-0.5-0.3-1-0.6-1.4-1c-0.1-0.1-0.1-0.3,0-0.4s0.3-0.1,0.4,0C8,22,8.5,22.3,9,22.6c0.1,0.1,0.2,0.2,0.1,0.4
            C9,23.1,8.9,23.1,8.8,23.1z M6.2,20.9c-0.1,0-0.2,0-0.2-0.1c-0.4-0.5-0.7-0.9-1-1.4c-0.1-0.1,0-0.3,0.1-0.4s0.3,0,0.4,0.1
            c0.3,0.5,0.6,0.9,1,1.4c0.1,0.1,0.1,0.3,0,0.4C6.3,20.9,6.3,20.9,6.2,20.9z"/>
          <path opacity="0.8" fill="#EA3B54" d="M22.3,19.5h-0.1c-0.1-0.1-0.2-0.2-0.1-0.4c0.3-0.5,0.5-1,0.7-1.5c0.1-0.1,0.2-0.2,0.4-0.2
            c0.1,0.1,0.2,0.2,0.2,0.4c-0.2,0.6-0.5,1.1-0.7,1.6C22.5,19.4,22.4,19.5,22.3,19.5z"/>
          <path opacity="0.75" fill="#EA3B54" d="M23.5,16.3C23.5,16.3,23.4,16.3,23.5,16.3c-0.2,0-0.3-0.2-0.3-0.3c0.1-0.5,0.1-1.1,0.1-1.7
            c0-0.2,0.1-0.3,0.3-0.3s0.3,0.1,0.3,0.3l0,0c0,0.6-0.1,1.2-0.2,1.8C23.7,16.2,23.6,16.3,23.5,16.3z"/>
          <path opacity="0.65" fill="#EA3B54" d="M23.5,12.8c-0.1,0-0.2-0.1-0.3-0.2c-0.1-0.5-0.2-1.1-0.4-1.6c-0.1-0.1,0-0.3,0.2-0.4
            c0.1-0.1,0.3,0,0.4,0.2c0.2,0.6,0.4,1.1,0.5,1.7C23.8,12.6,23.7,12.8,23.5,12.8L23.5,12.8z"/>
          <path opacity="0.5" fill="#EA3B54" d="M22.3,9.6c-0.1,0-0.2,0-0.2-0.1c-0.3-0.5-0.6-0.9-1-1.4C21,8,21,7.8,21.1,7.7
            c0.1-0.1,0.3-0.1,0.4,0c0.4,0.4,0.7,0.9,1,1.4c0.1,0.1,0,0.3-0.1,0.4C22.4,9.6,22.3,9.6,22.3,9.6z M20.1,7C20,7,20,7,19.9,6.9
            c-0.4-0.4-0.9-0.7-1.4-1c-0.1-0.1-0.2-0.2-0.1-0.4c0.1-0.1,0.2-0.2,0.4-0.1c0.5,0.3,1,0.6,1.4,1c0.1,0.1,0.1,0.3,0,0.4
            C20.2,6.9,20.1,7,20.1,7z"/>
          <path opacity="0.25" fill="#EA3B54" d="M17.1,5.3C17.1,5.3,17,5.3,17.1,5.3c-0.6-0.2-1.2-0.3-1.7-0.4c-0.1,0-0.3-0.2-0.2-0.3
            c0-0.2,0.2-0.3,0.3-0.2c0.6,0.1,1.2,0.3,1.7,0.5C17.3,5,17.2,5.3,17.1,5.3z"/>
        </g>
        </g>
        <g id="ohey-plane" class="plane">
          <g>
            <path fill="#EA3B54" d="M4.9,9.6C4.8,9.6,4.8,9.6,4.9,9.6L4.8,9.7L1,18.2c-0.1,0.1,0,0.2,0,0.3c0.1,0.1,0.1,0.1,0.3,0l1.9-0.8
              l1.4,0.4c0.1,0,0.2,0,0.3,0l0,0c0.1-0.1,0.1-0.2,0.1-0.3v-0.9l2.4-1.1l0.1-0.1l0.1-0.1c0-0.1,0-0.2,0-0.2L5.2,9.6
              C5.1,9.6,5,9.6,4.9,9.6z M3,17.2l-1.4,0.7l3-6.6L3,17.2L3,17.2z M6.9,15.5l-2.1,0.9c-0.1,0-0.1,0.1-0.1,0.1l0.4-5.7L6.9,15.5z
               M4.3,17.6l-1.1-0.3l0,0l1.6-6.7L4.3,17.6z"/>
          </g>
        </g>
        </svg>

        <p style="color: rgba(0,0,0,0.7); font-weight: lighter;" class = "bottom_modal">
          We are screening airports, airlines and flights for you...
        </p>

        <p style="color: rgba(0,0,0,0.7); font-weight: lighter; font-size: 14px;">
         (We are even finding the sexiest cabin crew members)
        </p>


      </div>
    </div>
  </div>
</div>
