/* Main class */
.navbar-wagon{
  display: flex;
  // background-color: transparent;
  position: relative;
  z-index: 2;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.pages-home .navbar-wagon {
  position: absolute;
}

/* Navbar logo */
.navbar-wagon-brand {
  margin: auto;
  padding-top: 15px;
}

.logo-nav {
  width: 68px;
  color: $brand-color;
}







