/* Main class */
.navbar-wagon{
  display: flex;
  // background-color: transparent;
  position: relative;
  z-index: 2;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.pages-home .navbar-wagon {
  position: absolute;
}

/* Navbar logo */
.navbar-wagon-brand {
  margin: auto;
  padding-top: 15px;
}

.logo-nav {
  width: 68px;
  color: $brand-color;
}

.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}



