

<div id="map", style="width: 100%; height: 400px;"> </div>

<% content_for(:after_js) do %>

    <script>
      $(document).ready(function() {
        var handler = Gmaps.build('Google', { markers: { clusterer: undefined }});
        handler.buildMap({
          provider: {
            scrollwheel: false
          },
          internal: { id: 'map' } }, function(){
          markers = handler.addMarkers( <%#= raw refresh_map %>
          [
            {
              lat: highlight_coordinates(@region, "highlight_1")[0],
              lng: highlight_coordinates(@region, "highlight_1")[1],
              infowindow: "highlight_1",
              picture: { url: view_context.image_url("pin.svg"), width: 40, height: 40 }
            },
             {
              lat: highlight_coordinates(@region, "highlight_2")[0],
              lng: highlight_coordinates(@region, "highlight_2")[1],
              infowindow: "highlight_2",
              picture: { url: view_context.image_url("pin.svg"), width: 40, height: 40 }
            },
            {
              lat: highlight_coordinates(@region, "highlight_3")[0],
              lng: highlight_coordinates(@region, "highlight_3")[1],
              infowindow: "highlight_3",
              picture: { url: view_context.image_url("pin.svg"), width: 40, height: 40 }
            },
            {
              lat: highlight_coordinates(@region, "highlight_4")[0],
              lng: highlight_coordinates(@region, "highlight_4")[1],
              infowindow: "highlight_4",
              picture: { url: view_context.image_url("pin.svg"), width: 40, height: 40 }
            },
            {
              lat: highlight_coordinates(@region, "highlight_5")[0],
              lng: highlight_coordinates(@region, "highlight_5")[1],
              infowindow: "highlight_5",
              picture: { url: view_context.image_url("pin.svg"), width: 40, height: 40 }
            }
           ]
          );
          // handler.bounds.extendWith(markers);
          // handler.fitMapToBounds();
          // handler.getMap().setZoom(15);
            // if (markers.length == 1) {
            //   handler.getMap().setZoom(15);
            // }
        });
      })
    </script>

<% end %>


  --> --> -->
 -->
