<div id="map", style="width: 100%; height: 400px;"> </div>

<% content_for(:after_js) do %>

    <script>
      $(document).ready(function() {
        var handler = Gmaps.build('Google', { markers: { clusterer: undefined }});
        handler.buildMap({
          provider: {
            scrollwheel: false
          },
          internal: { id: 'map' } }, function(){
          markers = handler.addMarkers([
            {
              "lat": <%=  @round_trip_flight.latitude_arrive %>,
              "lng": <%=  @round_trip_flight.longitude_arrive  %>,
            },
            {
              "lat": <%=  @round_trip_flight.latitude_back %>,
              "lng": <%=  @round_trip_flight.longitude_back %>,
            },
          ]);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          // handler.getMap().setZoom(15);
            if (markers.length == 1) {
              handler.getMap().setZoom(15);
            }
        });
      })
    </script>

<% end %>

