// (Opinionated BEM: blockName-elementName--modifier)

// /* Colors */
$color-primary: blue;
$color-highlight: #f03f55;
$color-white: #fff;
$color-black: #222;

$color-text: #444;
$color-text-secondary: lighten($color-text, 30%);


.banner-tickets {
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, $my-blue, $my-petrol-blue);
}
// /* Page */
// html {
//   min-height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-family: 'Open Sans', sans-serif;
//   font-size: 14px;
//   color: $color-text;
//   background: linear-gradient(60deg,
//     darken($color-primary, 10%),
// //     lighten($color-primary, 10%)
// //   );
// // }

// body {
//   line-height: 1.5;
// }

hr {
  width: 100%;
  margin: 1.5em 0;
  border: 0;
  border-bottom: 1px dashed #ccc;
}

.hr--invisible {
  border-bottom-color: transparent;
}


/* Boarding Pass */
.boardingPass-1 {
  width: 362px;
  border-radius: 4px;
  margin: 0 auto;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .3);

}

.boardingPass-2 {
  width: 362px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .3);
  border-radius: 4px;
  margin: 0 auto;
}

.boardingPass-3 {
  width: 288px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .3);
  border-radius: 4px;
  margin: 68px auto;
  margin-left: 74px;
}

/* Section */
/** Label **/
.section-label {
  display: block;
  text-transform: uppercase;
  font-size: .8rem;
  color: $color-text-secondary;
}

/** Icon **/
.boardingPass-icon {
  flex-grow: .5;
  color: $my-petrol-blue;
}


/* Header */
.boardingPass-header {
  padding: .5em 2em;
  border-radius: inherit;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: rgb(150,150,150);
  background: linear-gradient(-8deg,
    darken(rgb(150,150,150), 10%),
    lighten(rgb(150,150,150), 10%)
  );
}

.boardingPass-header-2 {
  padding: .5em 2em;
  border-radius: inherit;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: rgb(80, 80,80);
}


.boardingPass-airline {
  margin: 0;
  color: white;
}


.boardingPass-flight-label {
  color: $color-text;
}

/* Main */

.boardingPass-main {
  padding: 2em;
  background: $color-white;
}

.boardingPass-main-3 {
  padding: 0em;
  background: $color-white;
}

.boardingPass-departur-IATA,
.boardingPass-arrival-IATA {
  display: inline-block;
  line-height: 1;
  font-size: 4rem;
}

.boardingPass-transport {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $my-petrol-blue;
}


/* Footer */
.boardingPass-footer {
  padding: 0 2em 2em;
  background: $color-white;
  border-radius: inherit;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.boardingPass-qrCode {
  height: 40px;
  width: 100%;
  background: repeating-linear-gradient(to right,
    $color-black, $color-black 2%,
    transparent 2.01%, transparent 3%,
    $color-black 3.01%, $color-black 4%,
    transparent 4.01%, transparent 6%,
    $color-black 6.01%, $color-black 7%,
    transparent 7.01%, transparent 8%,
    $color-black 8.01%, $color-black 10%,
    transparent 10.01%, transparent 11%
  );
}
