
.banner-tickets {
  text-align: center;
  height: calc(100vh - 80px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  position: relative;
}


.ticket-box{
  position: absolute;
  top: calc(27% - 125px);
  top: -webkit-calc(27% - 125px);
  left: calc(36% - 300px);
  -webkit-transform: scale(0.9);
}

.ticket-box-1{
  position: absolute;
  top: calc(93% - 125px);
  top: -webkit-calc(73% - 125px);
  left: calc(41% - 300px);
  left: -webkit-calc(36% - 300px);
  -webkit-transform: scale(0.9);
}



.ticket{
  width: 600px;
  height: 250px;
  background: $brand-color;
  border-radius: 3px;
  box-shadow: 0 0 70px #aaa;
}

.ticket-1{
  width: 600px;
  height: 250px;
  background: $secondary-color;
  border-radius: 3px;
  box-shadow: 0 0 70px #aaa;
}


.ticket:after{
  content: '';
  position: absolute;
  right: 200px;
  top: 0px;
  width: 2px;
  height: 250px;
  box-shadow: inset 0 0 0 #Ffffff,
    inset 0 -10px 0 #999999,
    inset 0 -20px 0 #E5E5E5,
    inset 0 -30px 0 #999999,
    inset 0 -40px 0 #E5E5E5,
    inset 0 -50px 0 #999999,
    inset 0 -60px 0 #E5E5E5,
    inset 0 -70px 0 #999999,
    inset 0 -80px 0 #E5E5E5,
    inset 0 -90px 0 #999999,
    inset 0 -100px 0 #E5E5E5,
    inset 0 -110px 0 #999999,
    inset 0 -120px 0 #E5E5E5,
    inset 0 -130px 0 #999999,
    inset 0 -140px 0 #E5E5E5,
    inset 0 -150px 0 #B0B0B0,
    inset 0 -160px 0 #EEEEEE,
    inset 0 -170px 0 #B0B0B0,
    inset 0 -180px 0 #EEEEEE,
    inset 0 -190px 0 #B0B0B0,
    inset 0 -200px 0 #EEEEEE,
    inset 0 -210px 0 #B0B0B0,
    inset 0 -220px 0 #EEEEEE,
    inset 0 -230px 0 #999999,
    inset 0 -240px 0 #EEEEEE,
    inset 0 -250px 0 #999999;
}

.ticket-1:after{
  content: '';
  position: absolute;
  right: 200px;
  top: 0px;
  width: 2px;
  height: 250px;
  box-shadow: inset 0 0 0 #Ffffff,
    inset 0 -10px 0 #999999,
    inset 0 -20px 0 #E5E5E5,
    inset 0 -30px 0 #999999,
    inset 0 -40px 0 #E5E5E5,
    inset 0 -50px 0 #999999,
    inset 0 -60px 0 #E5E5E5,
    inset 0 -70px 0 #999999,
    inset 0 -80px 0 #E5E5E5,
    inset 0 -90px 0 #999999,
    inset 0 -100px 0 #E5E5E5,
    inset 0 -110px 0 #999999,
    inset 0 -120px 0 #E5E5E5,
    inset 0 -130px 0 #999999,
    inset 0 -140px 0 #E5E5E5,
    inset 0 -150px 0 #B0B0B0,
    inset 0 -160px 0 #EEEEEE,
    inset 0 -170px 0 #B0B0B0,
    inset 0 -180px 0 #EEEEEE,
    inset 0 -190px 0 #B0B0B0,
    inset 0 -200px 0 #EEEEEE,
    inset 0 -210px 0 #B0B0B0,
    inset 0 -220px 0 #E5E5E5,
    inset 0 -230px 0 #999999,
    inset 0 -240px 0 #E5E5E5,
    inset 0 -250px 0 #999999;
}

.content{
  position: absolute;
  top: 40px;
  width: 100%;
  height: 170px;
  background: #eee;
}

.airline{
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Arial;
  font-size: 20px;
  color: white;
}


.boarding{
  position: absolute;
  top: 10px;
  right: 220px;
  font-family: Arial;
  font-size: 18px;
  color: rgba(255,255,255,0.6);
}

.jfk{
  position: absolute;
  top: 10px;
  left: 52px;
  font-family: Arial;
  font-size: 38px;
  color: #222;
}

.sfo{
  position: absolute;
  top: 10px;
  left: 258px;
  font-family: Arial;
  font-size: 38px;
  color: #222;
}

.plane{
  position: absolute;
  left: 173px;
  top: 0px;
}

.plane-1{
  position: absolute;
  left: 479px;
  top: -57px;
}


.sub-content{
  background: #e5e5e5;
  width: 100%;
  height: 106px;
  position: absolute;
  top: 70px;
}


.name{
  position: absolute;
  top: 10px;
  left: 17px;
  font-family: Arial Narrow, Arial;
  font-weight: bold;
  font-size: 14px;
  color: #999;
}

.name span{
  color: #555;
  font-size: 17px;
}


.flight{
  position: absolute;
  top: 10px;
  left: 180px;
  font-family: Arial Narrow, Arial;
  font-weight: bold;
  font-size: 14px;
  color: #999;
}

.flight span{
  color: #555;
  font-size: 17px;
}

.gate{
  position: absolute;
  top: 10px;
  left: 156px;
  font-family: Arial Narrow, Arial;
  font-weight: bold;
  font-size: 14px;
  color: #999;
}

.gate span{
  color: #555;
  font-size: 17px;
}

.seat{
  position: absolute;
  top: 10px;
  left: 300px;
  font-family: Arial Narrow, Arial;
  font-weight: bold;
  font-size: 14px;
  color: #999;
}

.seat span{
  color: #555;
  font-size: 17px;
}

.boardingtime{
  position: absolute;
  top: 60px;
  left: 30px;
  font-family: Arial Narrow, Arial;
  font-weight: bold;
  font-size: 14px;
  color: #999;
}

.boardingtime span{
  color: #555;
  font-size: 17px;
}

.boardingtime-1{
  position: absolute;
  top: 60px;
  left: 18px;
  font-family: Arial Narrow, Arial;
  font-weight: bold;
  font-size: 14px;
  color: #999;
}

.boardingtime-1 span{
  color: #555;
  font-size: 17px;
}

.boardingtime-2{
  position: absolute;
  top: 60px;
  left: 164px;
  font-family: Arial Narrow, Arial;
  font-weight: bold;
  font-size: 14px;
  color: #999;
}

.boardingtime-2 span{
  color: #555;
  font-size: 17px;
}

.boardingtime-3{
  position: absolute;
  top: 60px;
  left: 177px;
  font-family: Arial Narrow, Arial;
  font-weight: bold;
  font-size: 14px;
  color: #999;
}

.boardingtime-3 span{
  color: #555;
  font-size: 17px;
}



.slip{
  left: 455px;
}

.nameslip{
  top: 10px;
  left: 455px;
}

.flightslip{
  left: 457px;
  top: 60px;
}


.airlineslip{
  left: 455px;
}


.share {
  position: absolute;
  left: 10px;
  top: 6px;
}


.back {
  color: white;
  text-decoration: underline;
  text-transform: capitalize;
  &:hover {
    font-weight: bolder;
    color: white;
  }
}



.booking {
    background: #f5f5f5;
    color: #484242;
    position: absolute;
    right: 155px;
    padding: 30px 50px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    h3 {
      margin-top: 0;
    }

}

#booking-title {
  padding-top: 12px;
  h4 {
    font-family: Montserrat;
    font-size: 27px;
    font-weight: bolder;
  }
  p {
    font-size: 12px;
  }
}


#hr-title {
  border: grey 0.1px solid;
  margin-top:10px;
  margin-bottom:10px;
}

