.booking-status-item{
  text-align: center;
  p {
    color:white;
    font-size: 11px;
    margin-bottom: 4px
  }
  margin: 0 10px;
  width: 75px;
}

.opacity{
  opacity: 0.5;
}

.underline{
  border-bottom: 2px solid white;
}
