

.btn {
  padding: 10px 17px;
  font-weight: bold;
  margin: 9px;
}

.btn-brand {
  border-radius: 0;
  border: none;
  background: $brand-color;
  padding: 15px 40px;
  color: white;
}

.btn-big {
  width: 100%;
}



.btn-tag {
  border-radius: 50px;
  border: 1px solid $secondary-color;
  padding: 10px 18px;
  color: $secondary-color;
  cursor: pointer;
}


.btn-circle {
  color: $gray !important;
  border: 1px solid $gray !important;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  &:hover {
    border: 1px solid $brand-color !important;
    color: $brand-color !important;
  }
  &.active {
    background-color: $brand-color;
    color: white !important;
    border: 1px solid $brand-color !important;
  }
}

.btn-circle-small{
  color: $gray !important;
  border: 1px solid $gray !important;
  border-radius: 50% !important;
  widows: 30px !important;
  height: 30px !important;
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-bottom: 0px;
  &:hover {
    border: 1px solid $brand-color !important;
    color: $brand-color !important;
  }
  &.active {
    background-color: $brand-color;
    color: white !important;
    border: 1px solid $brand-color !important;
  }
}

.payement-button{
  position: relative;
  top: 25px;
}

.new-search-btn{
  width: 50%;
  height: 10px;
  display:flex;
  justify-content: space-around;
  font-size: 14px;
  float: right;
  padding-bottom: 26px;
  padding-top: 10px;
}

#modify-search {
  color: $brand-color;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  opacity: 0.7;
}

.no-padding{
  padding-right: 0;
  padding-left: 0;
}


#modify-search p{
  color: $brand-color;
  text-decoration: none;
  margin: 0 0 5px;
}

#modify-search:hover{
  text-decoration: none;
  opacity: 1;
}

.modify-search-link{
  text-decoration: none;
}


.modify-search-link:hover{
  text-decoration: none;
}

.modify-search-link:visited{
  text-decoration: none;
}

.modify-search-link:active{
  text-decoration: none;
}

.modify-search-link:focus{
  text-decoration: none;
}

.next-button{
  float: right;
  padding: 10px 30px;
  margin-right: 15px;
  margin-top: 25px;
}

.included-checkbox{
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.included-checkbox span {
    font-size:14px;
    color: #484242;
    margin-left: 4px;
  }

