

.btn {
  padding: 10px 17px;
  font-weight: bold;
  margin: 9px;
}

.btn-brand {
  border-radius: 0;
  border: none;
  background: $brand-color;
  padding: 15px 40px;
  color: white;
}

.btn-big {
  width: 100%;
}

.btn-tag {
  border-radius: 50px;
  border: 1px solid $secondary-color;
  padding: 10px 18px;
  color: $secondary-color;
  cursor: pointer;
}


.btn-circle {
  color: $gray !important;
  border: 1px solid $gray !important;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  &:hover {
    border: 1px solid $brand-color !important;
    color: $brand-color !important;
  }
  &.active {
    background-color: $brand-color;
    color: white !important;
    border: 1px solid $brand-color !important;
  }
}

.btn-circle-small{
  color: $gray !important;
  border: 1px solid $gray !important;
  border-radius: 50% !important;
  widows: 30px !important;
  height: 30px !important;
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-bottom: 0px;
  &:hover {
    border: 1px solid $brand-color !important;
    color: $brand-color !important;
  }
  &.active {
    background-color: $brand-color;
    color: white !important;
    border: 1px solid $brand-color !important;
  }
}

.payement-button{
  position: relative;
  top: 25px;
}

.new-search-btn{
  width: 50%;
  height: 10px;
  display:flex;
  justify-content: space-around;
  font-size: 14px;
  float: right;
  padding-bottom: 26px;
  padding-top: 10px;
}

#modify-search {
  color: $brand-color;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  opacity: 0.7;
}

.no-padding{
  padding-right: 0;
  padding-left: 0;
}


#modify-search p{
  color: $brand-color;
  text-decoration: none;
  margin: 0 0 5px;
}

#modify-search:hover{
  text-decoration: none;
  opacity: 1;
}

.modify-search-link{
  text-decoration: none;
}


.modify-search-link:hover{
  text-decoration: none;
}

.modify-search-link:visited{
  text-decoration: none;
}

.modify-search-link:active{
  text-decoration: none;
}

.modify-search-link:focus{
  text-decoration: none;
}

.next-button{
  float: right;
  padding: 10px 30px;
  margin-right: 15px;
  margin-top: 25px;
}

.included-checkbox{
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  float: right;
  text-align: right;
}

.included-checkbox span {
    font-size:14px;
    color: #484242;
    margin-right: 10px;
  }

.select_this_car{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  margin-left: auto;
}
.popover-select{
  margin-right: -15px;
}

.member-btn{
    float: right;
    margin-right: 5%;
    height: 40px;
    width: 100px;
    padding: 0;
    margin-top: 45px;
}

.referral-btn{
  margin-top: 15px;
}

.sign-up-btn{
  margin-top: 0px;
}

#trendy-destination {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.facebook-button{
  margin-top: 25px;
  margin-bottom: 5px;
}


.facebook-link{
  text-decoration: none;
}
.facebook-link:hover{
  text-decoration: none;
  color: white;
}
.facebook-link:active{
  text-decoration: none;
  color: white;
}
.facebook-link:visited{
  text-decoration: none;
  color: white;
}
.facebook-link:focus{
  text-decoration: none;
  color: white;
}

.fb-login-but{
  display:flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 324px;
  height: 40px;
  background-color: #4267B2;
  color: white;
  text-decoration: none;
  p {
    position:relative;
    top: -2px;
  }
}

.fb-login-but:hover{
  text-decoration: none;
  color: white
}
.fb-login-but:visited{
  text-decoration: none;
  color: white
}
.fb-login-but:active{
  text-decoration: none;
  color: white
}
.fb-login-but:focus{
  text-decoration: none;
  color: white
}

.email-button{
  margin-right: 0;
  float: none;
  margin-top: 10px;
}

.trip-category {
  width: 145px;
  padding-right: 5px;
  padding-left:5px;
  opacity: 0.6;
  opacity:1;
  color: $brand-primary;
  border: 1px solid $brand-primary;
  &.entered {
    background-color: $brand-primary;
    color: white
  }
  &.category-selected {
    background-color: $brand-primary;
    color: white
  }
}

#update-experience-button{
  float:right;
}

#experience-validate{
  margin-top:70px;
  width: inherit !important;
  bottom: none !important;
  position:relative;
}

#non-clickable-experience-validate {
  margin-top:0px;
  margin-left:0px;
  width: 157px !important;
}

.star-btn{
  border: 1px solid transparent !important;
  border-radius: 50% !important;
  widows: 30px !important;
  height: 30px !important;
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin:3px;
}

.rating-star{
  color:$brand-primary;
}

.feedback-btn{
  padding: 10px 0px;
  height: 85px;
  white-space: normal;
}

.small-btn{
  padding: 15px 10px;
}

.very-small-btn{
  padding: 3px 10px;
}

#save_poi_button{
  margin-top:4px;
}

.validate-feedbacks-btn{
  background-color: $orange;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.validate-feedbacks-btn:hover{
  text-decoration: none !important;
  span {
    color: white;
  }
}
.validate-feedbacks-btn:visited{
  span {
    color: white;
  }
}

.button-opacity{
  opacity: 0.2
}

.light-button-opacity{
  opacity: 0.7
}

.zero-radius{
  border-radius: 0 !important;
}

#no-car-button{
  position:absolute;
  right:0px;
  margin-bottom: -50px;
  z-index:3;
}


