.card-wrapper{
  padding: 30px;
  min-height: 100%;
}

.cardContainer {
  height: 75px;
  color: black;
  border-radius: 5px;
  margin-bottom: 20px;
  text-decoration: none;
  box-shadow: 1px 1px 1px #c7c7c7;
  background: white;
  padding: 15px;
  display: flex;
  align-items: center;
  position: relative;
}

.popover-card-container{
  width: 350px;
  margin-bottom: 5px;
  height: 50px;
}

.card-description p{
  margin-top: 10px;
}


.card-price{
  background: $secondary-color;
  padding: 6px 18px;
  color: white;
  position: absolute;
  right: 0px;
  font-size: 17px;
  border-radius: 0;
}

.flight-card-price {
  top: 9px;
}

.card-price p{
  margin-bottom: 0px;
}



#recommended_car_price{
  background: $secondary-color;
  padding: 6px 18px;
  color: white;
  font-size: 17px;
  border-radius: 0;
  width: 95px;
  height: 35px;
  position: absolute;
  bottom: 7px;
}

#recommended_car_price.selected{
  background-color: $brand-color;
}

// Le Wagon UI cards

.card {
  height: 175px;
  width: 350px;
  position: relative;
  margin-bottom: 20px;
  color: #333333;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 1px 1px 1px #c7c7c7;
  background: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}



.card-image{
  position: absolute;
  bottom: 10px;
  left: 60px;
}

.card.selected {
  box-shadow: 1px 1px 1px #5d5d5d;
  .card-price {
    background-color: $brand-color;
  }
}


.card-name {
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 11px;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  color: $orange;
}
.card-category p {
  font-size: 16px;
  }

.card-infos span{
  font-size: 10px;
}

.door-infos{
  position: absolute;
  bottom: 25px;
  right : 5px;
}


// .company-name {
//   position: absolute;
//   bottom: -5px;
//   right: 10px;
// }
// .company-name p {
//   font-size: 10px;
//   }

.company-logo{
  position: absolute;
  left: 10px;
}

.seats-infos{
  position: absolute;
  bottom: 5px;
  right : 5px;
}


.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.car-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: black;
  opacity: 0;
}

.more-photos{
  position: absolute;
  right: 40px;
  z-index: 3;
}

.previous-photos{
  position: absolute;
  left: 40px;
  z-index: 3;
}

.clickable-arrow{
  height: 20px;
  width: auto;
  opacity: 0.5;
}

.car-selection-arrow {
  margin-left : 20px;
  margin-right : 20px;
}

.home-card{
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
}

.recommendation-box{
  position: relative;
  border-bottom: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
  margin-left: 0px;
  margin: auto 0 50px 0;
  color: #333333;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 1px 1px 1px #c7c7c7;
  background: white;
  h4 {
    color: $orange;
  }
  span{
    font-size: 12px;
  }
  ul {
    padding-left: 20px;
    font-size: 14px;
  }
}

.recommendation-box.selected {
  box-shadow: 1px 1px 1px #5d5d5d;
}


.car-page-title{
  h3 {
  font-size: 23px;
  color: #404040;
  margin-top: 11px;
  }
}

.car-card{
  height: 230px;
  width: 350px;
  position: relative;
  margin-bottom: 20px;
  color: #333333;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 1px 1px 1px #c7c7c7;
  background: white;
}

.car-card-title{
  padding: 5px 5px 0 5px;
  span{
    color: $orange;
  }
}

.car-card.selected {
  box-shadow: 1px 1px 1px #5d5d5d;
  .card-price {
    background-color: $brand-color;
  }
}

.card-background{
  background-size: cover;
  height: 85%;
  width: 350px;
  position: absolute;
  bottom: 0px;
  border-radius: 0 0 5px 5px;
}

.main-background{
  position: static;
  float: right;
  border-radius: 0 5px 5px 0;
  height: 100%
}

.mini-background{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('mini.jpg');
}

.economy-background{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('economy.jpg');
}

.compact-background{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('compact.jpg');
}

.intermediate-background{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('intermediate.jpg');
}

.fullsize-background{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('fullsize.jpg');
}

.premium-background{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('premium.jpg');
}

.car-title-price{
  float:right;
}

.no-relative-position{
  position: static;
}


.main-photo-container{
  height: 200px;
}

#main-car-container{
  max-width: 700px;
}

.popover-link{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.car-popover-logo{
  position: absolute;
  left: 0;
}

.popover-car-logo-container{
  width: 60px;
  height: 25px;
}

.popover-card-desc{
  align-items: center;
}

.popover{
  max-width: 110%
}
