.card-wrapper{
  padding: 30px;
  min-height: 100%;
}

.cardContainer {
  height: 75px;
  color: black;
  border-radius: 5px;
  margin-bottom: 20px;
  text-decoration: none;
  box-shadow: 1px 1px 1px #c7c7c7;
  background: white;
  padding: 15px;
  display: flex;
  align-items: center;
  position: relative;
}

.cardContainer.selected {
  box-shadow: 1px 1px 1px #5d5d5d;
  .card-price {
    background-color: $brand-color;
  }
}

.popover-card-container{
  color: black;
  border-radius: 5px;
  margin-bottom: 20px;
  text-decoration: none;
  box-shadow: 1px 1px 1px #c7c7c7;
  background: white;
  padding: 15px;
  width: 400px;
  margin-bottom: 5px;
  height: 50px;
  height: auto;
}


.popover-card-container.selected {
  box-shadow: 1px 1px 1px #5d5d5d;
  .card-price {
    background-color: $brand-color;
  }
}

.card-description p{
  margin-top: 10px;
}


.card-price{
  background: $secondary-color;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  color: white;
  position: absolute;
  right: 0px;
  font-size: 17px;
  border-radius: 0;
  width: 75px;
}

.popover-card-price{
  position: relative;
}


.popover-card-price.selected{
  background-color: $brand-color;
}


.flight-card-price {
  top: 9px;
}

.card-price p{
  margin-bottom: 0px;
}



#recommended_car_price{
  background: $secondary-color;
  padding: 6px 18px;
  color: white;
  font-size: 17px;
  border-radius: 0;
  width: 95px;
  height: 35px;
  position: absolute;
  bottom: 7px;
}

#recommended_car_price.selected{
  background-color: $brand-color;
}

// Le Wagon UI cards

.card {
  height: 175px;
  width: 350px;
  position: relative;
  margin-bottom: 20px;
  color: #333333;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 1px 1px 1px #c7c7c7;
  background: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}



.card-image{
  position: absolute;
  bottom: 10px;
  left: 60px;
}

.card.selected {
  box-shadow: 1px 1px 1px #5d5d5d;
  .card-price {
    background-color: $brand-color;
  }
}


.card-name {
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 11px;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  color: $orange;
}
.card-category p {
  font-size: 16px;
  }

.card-infos span{
  font-size: 10px;
}

.door-infos{
  position: absolute;
  bottom: 25px;
  right : 5px;
}


// .company-name {
//   position: absolute;
//   bottom: -5px;
//   right: 10px;
// }
// .company-name p {
//   font-size: 10px;
//   }


.seats-infos{
  position: absolute;
  bottom: 5px;
  right : 5px;
}


.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.car-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: black;
  opacity: 0;
}

.more-photos{
  position: absolute;
  right: 40px;
  z-index: 3;
}

.previous-photos{
  position: absolute;
  left: 40px;
  z-index: 3;
}

.clickable-arrow{
  height: 20px;
  width: auto;
  opacity: 0.5;
}

.car-selection-arrow {
  margin-left : 20px;
  margin-right : 20px;
}

.home-card{
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
}

.recommendation-box{
  position: relative;
  border-bottom: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
  margin-left: 0px;
  margin: auto 0 50px 0;
  color: #333333;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 1px 1px 1px #c7c7c7;
  background: white;
  h4 {
    color: $orange;
  }
  ul {
    padding-left: 20px;
    font-size: 14px;
  }
}

.recommendation-box.selected {
  box-shadow: 1px 1px 1px #5d5d5d;
}

.popover-reco{
  color: #333333;
  text-decoration: none;
  padding-top: 30px;
  h4 {
    color: $orange;
  }
  ul {
    padding-left: 20px;
    font-size: 14px;
  }
}


.car-page-title{
  h3 {
  font-size: 23px;
  color: #404040;
  margin-top: 11px;
  }
}

.car-card{
  height: 230px;
  position: relative;
  margin-bottom: 20px;
  color: #333333;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 1px 1px 1px #c7c7c7;
  background: white;
}

.car-card-title{
  padding: 5px 5px 0 5px;
  span{
    color: $orange;
  }
}

.car-card.selected {
  box-shadow: 1px 1px 1px #5d5d5d;
  .card-price {
    background-color: $brand-color;
  }
}

.card-background{
  background-size: cover;
  height: 85%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  border-radius: 0 0 5px 5px;
  background-position: center center;
}

.main-background{
  position: static;
  float: right;
  border-radius: 0 5px 5px 0;
  height: 100%
}

// .mini-background{
//   background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('mini.jpg');
// }

// .economy-background{
//   background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('economy.jpg');
// }

// .compact-background{
//   background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('compact.jpg');
// }

// .intermediate-background{
//   background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('intermediate.jpg');
// }

// .fullsize-background{
//   background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('fullsize.jpg');
// }

// .premium-background{
//   background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('premium.jpg');
// }

.car-title-price{
  float:right;
}

.no-relative-position{
  position: static;
}


.main-photo-container{
  height: 200px;
  background-size: cover !important;
  background-position: center center;
}

#main-car-container{
  max-width: 700px;
}

.popover-link{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.car-popover-logo{
  position: absolute;
  left: 0;
}

.popover-car-logo-container{
  width: 60px;
  height: 25px;
}

.popover-card-desc{
  align-items: center;
  justify-content: space-between;
}

.popover{
  max-width: 125%
}

.similar{
  font-size: 12px;
}

.trip-card {
  width: 430px;
  height: 225px;
  margin-bottom: 0px;
}

.trip-length{
  position: absolute;
  top: 20px;
  left: 80px;
  color: $orange;
}

.trip-map{
  position: absolute;
  top: 70px;
  left: 10px;
  padding-top: 30px;
  span{
    position: absolute;
  }
}

.trip-card-content{
  position: absolute;
  top: 70px;
  right: 10px;
  width: 200px;
  font-size: 14px;
  h5{
    margin-top: 0;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #E6E6E6;
  }
  ul{
    padding-left: 20px;
  }
}

.card-user {
  position: absolute;
  left: 10px;
  top: 10px;
}

.avatar {
  width: 50px;
  border-radius: 50%;
  margin-left: 20px;
}

.upvoted-trips{
  margin-bottom: 40px;
}

.trip-map-picture{
  height: 144px;
}

.itinerary-cities{
  margin-left: 65px;
  width: 120px;
  p{
    margin-bottom: 3px;
    font-size: 14px;
  }
}

.itinerary{
  padding-top:25px;
}

.plus-minus{
  position: absolute;
  right: 5px;
}

.small-subexp-card-col{
  padding:2px;
}

.subexperience-card-container{
  width:100%;
  height: 98px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-color: #BABABA;
  background-size: cover !important;
  color: white;
  display:flex;
  align-items:center;
  justify-content:space-around;
  box-shadow: 2px 2px 2px #c7c7c7;
  p{
    text-shadow:none;
    color: #404040;
    font-size: 14px;
  }
  .photo-check{
    opacity: 1;
    background-color: white;
    i{
      color: $brand-primary;
      text-shadow: none;
    }
  }
}

.main-subexp-card-container{
  height: 265px;
}

.subexperience-name {
  h2{
    color: white;
    margin: 0;
    font-size:16px;
  }
}
.main-subexp-name{
  h2{
    font-size: 20px;
  }
}

.subexp-opacity{
  opacity:0.5;
  box-shadow: none;
}

.reco-box{
  background-color: #fafafa;
  position: relative;
  width: 60%;
  margin:auto;
  margin-top:30px;
   p{
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    width:90%;
    height: 65%;
    text-shadow:none;
    color: #404040;
    font-size: 14px;
  }
}

.reco-box:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#somewhere-else{
  background-color: #BABABA;
}

.incomplete_feedback_text{
  position: absolute;
  bottom: 5px;
  right: 30px;
  color: $orange;
  font-size: 12px;
  display: none;
}

