.card-wrapper{
  padding: 30px;
  background-color: #F5F5F5;
  min-height: 100%;
}

.cardContainer {
  height: 75px;
  color: black;
  border-radius: 5px;
  margin-bottom: 20px;
  text-decoration: none;
  box-shadow: 1px 1px 1px #c7c7c7;
  background: white;
  padding: 15px;
  display: flex;
  align-items: center;
  position: relative;
}

.card-description p{
  margin-top: 10px;
}


.card-price {
  background: $secondary-color;
  padding: 6px 18px;
  color: white;
  position: absolute;
  top: 9px;
  right: 0px;
  font-size: 17px;
  border-radius: 0;
}

.card-price p{
  margin-bottom: 0px;
}


// Le Wagon UI cards

.card {
  height: 175px;
  position: relative;
  margin-bottom: 20px;
  color: #333333;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 1px 1px 1px #c7c7c7;
  background: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-image{
  position: absolute;
  bottom: 10px;
  left: 60px;
}

.card.selected {
  box-shadow: 1px 1px 1px #5d5d5d;
  .card-price {
    background-color: $brand-color;
  }
}


.card-name {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
}

.card-category {
  position: absolute;
  bottom: -5px;
  left: 10px;
  color: $orange;
}
.card-category p {
  font-size: 10px;
  }

.card-infos span{
  font-size: 10px;
}

.door-infos{
  position: absolute;
  bottom: 25px;
  right : 5px;
}


// .company-name {
//   position: absolute;
//   bottom: -5px;
//   right: 10px;
// }
// .company-name p {
//   font-size: 10px;
//   }

.company-logo{
  position: absolute;
  bottom: 2px;
  right: 10px;
}

.seats-infos{
  position: absolute;
  bottom: 5px;
  right : 5px;
}


.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.car-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: black;
  opacity: 0;
}

.more-photos{
  position: absolute;
  right: 40px;
  z-index: 3;
}

.previous-photos{
  position: absolute;
  left: 40px;
  z-index: 3;
}

.clickable-arrow{
  height: 20px;
  width: auto;
  opacity: 0.5;
}

.car-selection-arrow {
  margin-left : 20px;
  margin-right : 20px;
}

.home-card{
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
}
