

#all-filters {
  color: white;
  padding: 10px 0 1px 0;
  color: white;
  border-top: 24px solid #00CECB;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  height: 0;
  width: 210px;
}



.filters {
  text-align: center;
  h3 {
    font-size: 15px;
    margin-top: 0px;
  }
}


#filters {
  background: rgba($brand-primary, .02);
  padding: 20px;
  margin:0px 1% 0px 1%;
  // border-bottom: 1px solid #E6E6E6;
  // border-top: 1px solid #E6E6E6;
}


.btn-tag {
  margin: 0 5px;
  text-align:center;
  margin-top: 20px;
}



.filter-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.filter-slider, .filter-buttons {
  flex: 0 0 49%;
}

.left-border{
  border-left: 1px solid gray
}

.filters ul {
  list-style: none;
  padding-left: 0;
}



.filtered-city{
  width: 120px;
  border: 1px solid $brand-primary;
  // border-radius: 5px;
  // background-color: $brand-primary;
  color:$brand-primary;
  // font-size: 17px;
  opacity: 0.6;
}

.city-selected{
  opacity:1;
  background-color: $brand-primary;
  color: white;
  border: 1px solid #00CECB;
}
.city-selected:hover{
  opacity: 0.6;
}

.sticky-form{
  margin-top: 105px;
}

.home-sticky-form{
  margin-top: 70px;
}

.content-center{
  display:flex;
  justify-content:center;
}

.airport-filter{
  text-align: center;
  margin-bottom: -5px;
}

.centered {
   text-align: center;
}
.centered > div {
   float: none;
   display: inline-block;
   text-align: left;
}
