

#all-filters {
  color: white;
  padding: 10px 0 1px 0;
  color: white;
  border-top: 24px solid #00CECB;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  height: 0;
  width: 210px;
}



.filters {
  text-align: center;
  h3 {
    font-size: 15px;
  }
}




#filters {
  background: white;
  padding: 20px 0;
}

.filter-apply {
  margin-top: 30px;
}



.btn-tag {
  margin: 0 5px;
  text-align:center;
  margin-top: 20px;
}



.filter-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-slider  {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.filter-slider, .filter-buttons {
  flex: 0 0 49%;
}

.left-border{
  border-left: 1px solid gray
}

.filters ul {
  list-style: none;
  padding-left: 0;
}



.filtered-city{
  width: 120px;
  border: 1px solid $brand-primary;
  // border-radius: 5px;
  // background-color: $brand-primary;
  color:$brand-primary;
  // font-size: 17px;
  opacity: 0.6;
}

.city-selected{
  opacity:1;
  background-color: $brand-primary;
  color: white;
  border: none;
}
.city-selected:hover{
  opacity: 0.6;
}

.sticky-form{
  margin-top: 57px;
}

#see-filters{
  margin-top: -33px;
}


#hide-filters{
  margin-top: -33px;
}

.content-center{
  display:flex;
  justify-content:center;
}
