.modal-body {
  padding-left: 55px;
  padding-right: 55px;
}

.modal-content-destination {
  width: 750px;
}

.img-slider {
  padding-bottom: 15px;
}

.modal-lg {
    margin-right: 315px;
}

.img-slider {
  width: 500px;
  height: 350px;
}

.slider-images {
  padding-left: 47px;
}


.modal-row{
  margin-top: 50px;
  display:flex;
  align-items: center;
}

.modal-sub-row{
  margin-top: 20px;
  margin-left: 88px;
  padding-right: 15px;
}

.logo-row{
  margin-top: 50px;
}

.logo-sub-row{
  margin-bottom: 50px;
}


.modal-header{
  background-color: $brand-color;
} h4 {
    color: white;
  }

.modal-checkbox{
  text-align:center;
  color: $brand-color;
}

.sub-checkbox{
  margin-right: -15px;
}
