.door-icon {
  width: 15px;
  opacity: 0.6;
}

.seats-icon {
  width: 20px;
  opacity: 0.6;
}

#ferrari {
  width : 70px;
}

#renault4l {
  width : 70px;
}


.how-icons{
  // border-bottom: 1px solid #E6E6E6;
  padding-bottom: 30px;
  // margin-bottom: 50px;
}



.how-to-badge {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  text-align: center;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: $brand-color;
  margin: auto;
  margin-bottom: 10px;
}

.booking-status-badge{
  font-size: 13px;
}

.legends{
  margin-bottom: 10px;
}

.legend_highlight{
  width: 25px;
}

.legend_airport{
  width: 40px;
}

.small-airline-logo{
  width: 40px;
}

.small-car-logo{
  width: 60px;
}


.airline-opacity{
  opacity: 0.5;
}

.product-upvote {
  transition: all 0.15s ease;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  top: 20px;
  right: 5px;
  display: flex;
}
.product-count {
  margin: 1px 3px 0;
  color: $brand-color;
}
.product-arrow {
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid $brand-color;
  border-radius: 2px;
}

.favourite-heart{
  height: 35px;
}
