.door-icon {
  width: 15px;
  opacity: 0.6;
}

.seats-icon {
  width: 20px;
  opacity: 0.6;
}

#ferrari {
  width : 70px;
}

#renault4l {
  width : 70px;
}


.how-icons{

}


.how-images{
  width: 70px;
  height: auto;
  border-radius: 30%;
  margin-bottom: 20px;
}
