.map_labels{
  background-color: rgba(0,0,0,0);
  font-size: 12px;
  color: #404040;
}

.tooltip{
  border:thin 1px #eee;
  background-color:#FFFBF0;
  padding:5px;
  width:50px;
}


.planning-page-map{
  margin-bottom: 50px;
}
