.modal-body {
  padding-left: 55px;
  padding-right: 55px;
  p{
    margin-top: 25px;
  }
  .description {
    margin-top: 40px;
  }
}

.home-modal{
  width: 80%;
}


.img-slider {
  height: 300px;
  width: 100%;
  background-size: cover !important;
  padding-bottom: 15px;
}

.slider-img-container{
  margin-bottom: 25px;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  h5{
    position: absolute;
    color: white;
    font-size: 30px;
    text-align: center;
  }
}

.modal-row{
  margin-top: 50px;
  display:flex;
  align-items: center;
}

.modal-sub-row{
  margin-top: 20px;
  margin-left: 88px;
  padding-right: 15px;
}

.logo-row{
  margin-top: 50px;
}

.logo-sub-row{
  margin-bottom: 50px;
}


.modal-header{
  background-color: $brand-color;
  h4 {
    color: white;
  }
}

.modal-checkbox{
  text-align:center;
  color: $brand-color;
}

.sub-checkbox{
  margin-right: -15px;
}

.no-car-link{
  color: $orange;
  float: right;
  font-size: 13px;
  text-decoration: none;
}

.no-car-link:hover{
  text-decoration: none;
}
.no-car-link:visited{
  text-decoration: none;
}
.no-car-link:active{
  text-decoration: none;
}
.no-car-link:focus{
  text-decoration: none;
}

.modal-footer{
  border-top: none;
  padding-top: 0;
}

.centered-modal{
  margin: 25vh auto 0 auto
}


.who-modal{
  width: 900px;
}
