.progress {
  width: 150px;
  margin-bottom: 0;
}

.brand-color{
  color: $brand-color;
  padding-left: 5px;
}

.progress-text{
  float: right;
  color: $brand-color;
  margin-right: 5px;
}

.progress-container{
  float: right;
  display: flex;
  align-items: center;
  margin-top: -30px;
}
