.recap-box {
    // background: rgba($brand-primary, .02);
    color: #484242;
    padding: 30px 40px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    h3 {
      margin-top: 0;
    }
}

.recap-opacity{
  opacity: 0.3;
}

.recap-title{
  display: flex;
  justify-content : space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  h3 {
    margin-top: 11px;
  }
  h4 {
    color: white;
  }
}

.title-background{
  background-color: $secondary-color;
  color: white
}

.recap-box:hover{
      background: white;
      box-shadow: 1px 1px 1px #5d5d5d;
    }

.carrier{
  font-size: 10px;
  margin-top: 5px;
}

.origin-and-destination{
  display: flex;
  justify-content : space-between;
  align-items: center;
}

.price-and-book{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:relative;
  bottom: -15px;
}

.times{
  display: flex;
  justify-content : space-between;
}

.car{
  opacity: 0.6;
}

.itinerary {
  opacity: 0.6;
}

#hr-content {
  border: grey 0.1px solid;
  opacity: 0.5;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
}

.date{
  color: $orange;
  display: flex;
  justify-content : space-between;
}

.select-car-text{
color: $brand-color;
}

.car-times{
  font-size: 12px;
}

.car-details{
  display: flex;
  justify-content : space-between;
  align-items: center;
}

.remove{
  float: right;
}

.change{
  float: right;
  font-size: 12px;
}

.booking-price {
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: Montserrat;
  font-size: 27px;
  font-weight: bolder;
  font-size: 20px;
}

.price-top{
  padding-top: 0px;
}

#number-travelers{
  margin-top: 20px;
  text-align: right;
  font-size: 13px;
}

.middle-arrow{
  flex: 1 0 auto;
}

.side-item{
  flex: 0 0 40%
}

.right-item{
  text-align: right
}

.vertical-align{
  display: flex;
  align-items: center;
}

.right-float{
  float: right;
}



