@media only screen and (max-width: 1024px) {
    #advantages {
      display: none;
    }
    .small-arrow {
      display: none;
    }
    #member-form {
      margin-top: 0px;
    }
    .member-btn {
      margin-top: 0px;
    }
    .member-form-post {
      padding-bottom: 60px;
    }
    .home-text {
      margin-top: 20px;
    }
    .banner {
      height: 800px;
    }
    .bottom-row{
      margin-left: 0px;
    }

}
