.form-post {
  background: rgb(250, 250, 250);
  opacity: 0.9;
  padding: 20px;
  border-radius: 0px;
  box-shadow: 6px 1px 4px rgba(0,0,0,0.2);
  border: white 1px solid;
  opacity: 1;
  h3 {
  font-size: 17px;
  font-weight: bolder;
  }
  h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    margin-bottom: 25px;
  }
}


.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  color: grey;
}

.select.input-lg {
    height: 46px;
    line-height: 46px;
}

.btn-danger {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}


#new_result {
  height: 100%;
  border-radius: 10px;
}

.datepicker{
  display: flex;
  color: #484848;
  margin-top: 23px;
  margin-bottom: 5px;
    &:focus {
    outline: none;
  }
}
::-webkit-input-placeholder {
  color: #484848;
}

car.datepicker{
  margin_top: 0px;
}


.datepicker table tr td.today, .datepicker table tr td.active {
  color: #FF2B67;
}

.datepicker table tr td.today:hover {
  background-color: #ea2752;
  color: white;
}

.datepicker table tr td.active:active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active {
  background-color: #FF2B67;
  color: white;
}

// .datepicker table tr td.active:hover, .datepicker table tr td.active.highlighted:hover, .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active:hover {
//   background-color: #ea2752;
//   color: white;
// }

.datepicker table tr td.active:active:hover,
.datepicker table tr td.active.highlighted:active:hover,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.highlighted.active:hover,
 {
  background-color: #ea2752;
  color: white;
}




.datepicker table tr td.active:active:hover, .datepicker table tr td.active.highlighted:active:hover, .datepicker table tr td.active.active:hover, .datepicker table tr td.active.highlighted.active:hover, .datepicker table tr td.active:active:focus, .datepicker table tr td.active.highlighted:active:focus, .datepicker table tr td.active.active:focus, .datepicker table tr td.active.highlighted.active:focus, .datepicker table tr td.active:active.focus, .datepicker table tr td.active.highlighted:active.focus, .datepicker table tr td.active.active.focus, .datepicker table tr td.active.highlighted.active.focus {
  background-color: #FF2B67;
}




.car-form{
  height: "auto";
  position: relative;
  margin-bottom: 20px;
  color: #333333;
  border-radius: 5px;
  text-decoration: none;
  background: white;
  padding: 15px;
  padding-bottom: 5px;
  border: 1px solid #dce3e6;
  h5 {
    margin-top: 0px;
  }
}

.car-form-row{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.driver {
  margin-bottom: -10px;
  margin-top: 15px;
  margin-right: 5px;
}

.car-form-text.selected {
  border: 1px solid $brand-color;
}

.car-form-item{
  height: 40px;
  padding: 10px 16px;
  line-height: 1.33;
  border-radius: 6px;
  color: #484848;
  font-size: 13px;
  border: 1px solid #e5e5e5;
}

.age-checkbox{
  margin-left: 30px;
}

#car-recap-text{
  text-align: center;
  margin-bottom: 25px;
}

.car-recap-row{
  margin-bottom: 50px;
  vertical-align: center;
}

#children-link{
  font-size: 13px;
}

.padding-travelers-box{
  padding: 0 30px 0 30px;
}

#hr-payment-form{
  border: grey 0.1px solid;
  opacity: 0.5;
  margin: 20px 0 20px 20px;
}
