.form-inline {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  margin-right: 2px;
}

.select.input-lg {
    height: 46px;
    line-height: 46px;
}

.btn-danger {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

#city{
  width: 33%;
  color: #484848;
  border-radius: 10px;
  background-color: white;
}

#region {
  width: 33%;
  border-radius: 10px;
  color: #484848;
  background-color: white;
}


#new_result {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 10px;
}

.datepicker{
  flex-grow: 1;
  display: flex;
  color: #484848;
  margin-right: 4px;
  margin-left: 4px;
    &:focus {
    outline: none;
  }
}
::-webkit-input-placeholder {
  color: #484848;
}


.datepicker table tr td.today, .datepicker table tr td.active {
  color: #FF2B67;
}

.datepicker table tr td.today:hover {
  background-color: #ea2752;
  color: white;
}

.datepicker table tr td.active:active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active {
  background-color: #FF2B67;
  color: white;
}

// .datepicker table tr td.active:hover, .datepicker table tr td.active.highlighted:hover, .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active:hover {
//   background-color: #ea2752;
//   color: white;
// }

.datepicker table tr td.active:active:hover,
.datepicker table tr td.active.highlighted:active:hover,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.highlighted.active:hover,
 {
  background-color: #ea2752;
  color: white;
}




.datepicker table tr td.active:active:hover, .datepicker table tr td.active.highlighted:active:hover, .datepicker table tr td.active.active:hover, .datepicker table tr td.active.highlighted.active:hover, .datepicker table tr td.active:active:focus, .datepicker table tr td.active.highlighted:active:focus, .datepicker table tr td.active.active:focus, .datepicker table tr td.active.highlighted.active:focus, .datepicker table tr td.active:active.focus, .datepicker table tr td.active.highlighted:active.focus, .datepicker table tr td.active.active.focus, .datepicker table tr td.active.highlighted.active.focus {
  background-color: #FF2B67;
}
