.form-post {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 6 1px 4px rgba(0,0,0,0.2);
  border: white 1px solid;
  position: absolute;
  right: 40px;
  top: 100px;
  opacity: 0.9;
}

.row {
  margin-right: auto;
}

.form-post h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    color: black;
    margin-bottom: 50px;
    margin-top: 0;
}

.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  color: #484848;
}

.select.input-lg {
    height: 46px;
    line-height: 46px;
}

.btn-danger {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

#city{
  color: #484848;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 21px;
}

#region {
  border-radius: 10px;
  color: #484848;
  background-color: white;
  margin-bottom: 21px;
}


#new_result {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 10px;
}

.fa-male {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: black;
}


.fa-lg {
  font-size: 1.73333333em;
  line-height: 1.75em;
  vertical-align: -12%;
}

.btn-big {
  width: 100%;
}
.datepicker{
  display: flex;
  color: #484848;
  margin-left: 73px;
  margin-top: 23px;
  margin-bottom: 19px;
    &:focus {
    outline: none;
  }
}
::-webkit-input-placeholder {
  color: #484848;
}


.datepicker table tr td.today, .datepicker table tr td.active {
  color: #FF2B67;
}

.datepicker table tr td.today:hover {
  background-color: #ea2752;
  color: white;
}

.datepicker table tr td.active:active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active {
  background-color: #FF2B67;
  color: white;
}

// .datepicker table tr td.active:hover, .datepicker table tr td.active.highlighted:hover, .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active:hover {
//   background-color: #ea2752;
//   color: white;
// }

.datepicker table tr td.active:active:hover,
.datepicker table tr td.active.highlighted:active:hover,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.highlighted.active:hover,
 {
  background-color: #ea2752;
  color: white;
}




.datepicker table tr td.active:active:hover, .datepicker table tr td.active.highlighted:active:hover, .datepicker table tr td.active.active:hover, .datepicker table tr td.active.highlighted.active:hover, .datepicker table tr td.active:active:focus, .datepicker table tr td.active.highlighted:active:focus, .datepicker table tr td.active.active:focus, .datepicker table tr td.active.highlighted.active:focus, .datepicker table tr td.active:active.focus, .datepicker table tr td.active.highlighted:active.focus, .datepicker table tr td.active.active.focus, .datepicker table tr td.active.highlighted.active.focus {
  background-color: #FF2B67;
}
