.slider .slider-selection {
  background: $secondary-color;
}

.slider {
  width:100%;
}

.slider.slider-horizontal .slider-track {
  height: 4px;
}

.slider.slider-horizontal .slider-selection, .slider.slider-horizontal .slider-track-low, .slider.slider-horizontal .slider-track-high {
  height: 4px;
}

.slider-handle {
  top: -3px;
  border: 2px solid $secondary-color;
  background: white;
  background-image: none;
}

.experience-slider{
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  span {
    &:nth-child(1) {
      flex: 0 0 15%;
    }
    &:nth-child(2) {
      flex: 0 0 70%;
    }
    &:nth-child(3) {
      flex: 0 0 15%;
    }
  }
}
.slider.slider-horizontal{
  width:90%;
}
#length-slider-padding{
  padding-top:16px;
}
#price-slider-padding{
  padding-top:10px;
}
