.arrow-img-filter {
  width: 13px;
}


.page-result{
  // background: #F5F5F5;
  padding-top: 60px;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.tabLink {
  color: inherit;
  text-decoration: none;
}


.tabLink:hover{
  text-decoration: none;
  color: $brand-color;
}

.tabContainer {
  margin-bottom: 20px;
  position: relative;
  height: 180px;
}


.cardContainer.selected {
  box-shadow: 1px 1px 1px #5d5d5d;
  .card-price {
    background-color: $brand-color;
  }
}



#TitleShow {
  margin-bottom: 28px;
  margin-top: -20px;
  text-align: center;
}

.titlepadding{
  padding-right: 15px;
  padding-left: 15px;
}

#poi-title {
  text-align: center;
}

#poi-title span{
  font-size: 23px;
  color: #333333;
}

#TitleShow h3{
  font-size: 23px;
  color: #333333;
}

.info-label-go {
  font-weight: bolder;
  color: #0185B5;
}

.colour-code-0 {
  font-weight: bolder;
  color: $orange;
}
.colour-code-1 {
  font-weight: bolder;
  color: #0185B5;
}
.colour-code-2 {
  font-weight: bolder;
  color: $red;
  // #EE5F5B
}
.colour-code-3 {
  font-weight: bolder;
  color: $yellow;
  // #FDB631
}
.colour-code-4 {
  font-weight: bolder;
  color: $green;
  // #32B796
}
.colour-code-5 {
  font-weight: bolder;
  color: blue;
  // #0000FF
}
.colour-code-6 {
  font-weight: bolder;
  color: red;
  // #FF0000
}
.colour-code-7 {
  font-weight: bolder;
  color: #c679ba;
}
.colour-code-8 {
  font-weight: bolder;
  color: #468ff4;
}
.colour-code-9 {
  font-weight: bolder;
  color: #9d74f7;
}
.colour-code-10 {
  font-weight: bolder;
  color: #4ef446;
}

.flight-label {
  color: #bfbfbf;
}

.card-description {
  display: flex;
  flex: 1;
  &-item {
    flex: 0 0 35%;
    &:nth-child(2) {
      flex: 0 0 35%;
    }
    span.hours {
      margin-right: 5px;
    }
    i {
      margin-right: 10px;
    }
  }
}


.not-displayed {
  display: none;
}


.light-data {
  font-size: 11px;
  font-weight: light;
}

#price-for{
  float:right;
  font-size: 12px;
}

.edit-links{
  display:flex;
  justify-content: space_between;
  align-items: center;
}

#all-flights{
  float:right;
  margin-right: 10px;
  text-decoration: none
}

#all-flights p{
  color: $brand-color;
  text-decoration: none;
  margin: 0 0 30px;
  float: right;
}


#all-flights:hover {
  text-decoration: none;
}



#more-flights {
  color: $brand-color;
  text-decoration: none;
  cursor: pointer;
  margin-left: 10px;
  float: left;
}


#more-flights p{
  color: $brand-color;
  text-decoration: none;
  margin: 0 0 30px;
  float: right;
}


#more-flights:hover {
  text-decoration: none;
}

.car-left-padding{
  padding-left: 60px;
  padding-right: 60px;
}

.planning-page{
  padding-left: 50px;
  padding-right: 50px;
}
