#planning-page-title{
  text-align:center;
  margin-top: 40px;
  margin-bottom: 40px;
}

#planning-page-subtitle{
  text-align:center;
  margin-top: 40px;
  margin-bottom: 20px;
  h4{
    padding-bottom: 15px;
    border-bottom: 1px solid #E6E6E6;
  }
}

.italic{
  font-style: italic;
}

.profile-explaination-text{
  padding: 0px 100px 25px 100px;
  p{
    font-size: 13px;
  }
  #start{
    margin-top:20px;
    font-size: 16px;
  }
}

#profile-page-build{
  margin-top:10px;
  width:90%;
  margin-left:auto;
  margin-right:auto;
}

.selection-title{
  height:100%;
  margin-bottom: 4px;
  display:flex;
  align-items: center;
  h4 {
    margin-top: 14px;
    margin-left: 7px;
  }
  h5 {
    margin-top: 14px;
    margin-left: 7px;
  }
  #place-title {
    margin-bottom:0px;
  }
}

#first-title{
  margin-top:0px;
}

.title-container{
  margin-bottom:10px;
}

.avatar-text{
  text-decoration: none;
  font-size: 14px;
  margin-left: 5px;
}
.avatar-text:hover{
  text-decoration: none;
}

.no-decoration{
  text-decoration: none;
  color:inherit;
}
.no-decoration:hover{
  text-decoration: none;
  color:inherit;
}
.no-decoration:visited{
  text-decoration: none;
  color:inherit;
}
.no-decoration:active{
  text-decoration: none;
  color:inherit;
}
.no-decoration:focus{
  text-decoration: none;
  color:inherit;
}

#status-subtitle{
  font-size: 12px;
  margin-top: -11px;
}

.reco-page-reco-desc {
  height:100px;
}

.white {
  color:white;
}
.white:hover {
  color:white;
}

.title-with-destination{
  margin-bottom:0;
}

.home-destination-description{
  margin-top:0;
  margin-bottom: 40px;
}

.home-main-title-destination{
  margin-bottom:0;
}
