.recap-of-search {
  background-color: $brand-color;
  margin-bottom: 20px;
  color: white;
  position: fixed;
  // left: 0px;
  // top: 0px;
  // z-index: 1;
  // width: 100%;
}

// .wrapper {
//   background-color: $brand-color;
//   margin-bottom: 20px;
//   height: 70px;
//   left: 0px;
//   top: 0px;
//   z-index: 1;
//   width: 100%;
// }

// .search-result {
//   background-color: $brand-color;
//   margin-bottom: 20px;
//   color: white;
//   padding-bottom: 10px;
//   padding-left: 20px;
//   border-radius: 4px;
// }

// .logo-head {
//   position: fixed;
//   left: 10px;
//   top: 10px;
// }

// .text-head {
//   position: fixed;
//   right: 40px;
// }

// .logo-nav {
//   width: 50px;
//   position: fixed;
// }


