<div class="modal fade" id="validate_modal" tabindex="-1" role="dialog" aria-labelledby="validate_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body background">

        <div class = "row">
          <div class = 'modal-row'>
            <div class = "col-md-12">
              <span>Great ! Your feedback is completed.</span>
            </div>
          </div>
        </div>

        <div class = "row">
          <div class = 'modal-row'>
            <div class = "col-md-12">
              <span>Let's move to the next destination</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

