<% if @confirmable %>
    <div class= "btn-brand feedback-btn validate-feedbacks-btn text-center light-button-opacity <%= 'last_to_be_reviewed' if @last_experience_to_be_reviewed %>" data-toggle="modal" data-target="#toReco" data-region = "<%= @region.name %>">
      END FEEDBACKS FOR <%= @region.name.upcase %> AND SEE PERSONALIZED RECOMMENDATIONS
    </div>
<% else %>
  <div class= "btn-brand feedback-btn validate-feedbacks-btn button-opacity text-center" id = "non-clickable-validate" data-toggle="popover" data-content="Please fill at least one feedback" data-placement="top" data-trigger="hover">END FEEDBACKS FOR <%= @region.name.upcase %> AND SEE PERSONALIZED RECOMMENDATIONS
  </div>
<% end %>
